/* sezione header */

header div[class^="col-"] {
    /* height: 50px;
    background-color: tan;
    border: solid 1px black; */
}
.nav-link{
    color: black;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

.toggle_color{
    fill: black;

}
@media screen and (min-width:0px) and (max-width:992px){  
    #form_ li, #btn_, #img_{
      display: none;
    }
}

#logo_sony{
    background-color: black;
    color: white;
    height: 40px;
}

#logo_sony img{
    width: 80px;
    float: right;
    margin-top: 10px;
}


#btn_{
    color: white;
    background-color: black;
    border-radius: 20px;
    height: 40px;
    border: none;
}

#btn_:hover{
    scale: 0.9;
    box-shadow: 0 0 0 2px black;
    opacity: 0.8;
    background-color:black;
}

#img_{
    width: 25px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.ico{
    margin-left: auto;
}


/* sezione jumbotron */

#jumbotron div[class^="col-"] {
    /* height: 400px; */
    /* background-color: rgba(44,62,80,255);
    border: solid 1px black; */
}

#jumbotron{
    background-image: url(img/jumbo-bg.png);
    height: 450px;
    background-size: cover;
}

#nav_jumbo{
    background-color: white;
    position:fixed ;
}

#jumbotron img{
    width: 200px;
    height: 50px;
    margin-top: 150px;
} 

.box_text{
    height: 150px;
    width: 250px;
    color: white;
}

.nav-link img{
    width:15px;
}

.box_text button{
    border-radius: 20px;
}

.box_text button:hover{
    scale: 0.9;
    box-shadow: 0 0 0 2px red;
    opacity: 0.6;
    background-color:red;
} 


/* sezione pics */

#pics div[class^="col-"] {
    /* height: 100px; */
    /* background-color: green; */
    /* border: solid 1px black;  */
    /* border-radius: 10px; */
}

#pics img{
    width: 130px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;
}

#selection img:hover{
    padding: 2px;
    outline: 2px solid blue;
    border-radius: 20px;
}

/* sezione playstation */

#playStation div[class^="col-"] {
    /* height: 150px;
    background-color: chocolate;
    border: solid 1px black; */
}

#playStation .row{
    text-align: center;
    margin-top: 30px;
}

#playStation p:first-child{
    color:#0072ce;
}


/* sezione console */

#console div[class^="col-"] {
    /* height: 400px; */
    background-color:white;
    /* border: solid 1px black; */
    margin-bottom: 30px;
}

#console img{
    height: 400px;
    object-fit: cover;
}

.text_console{
    margin-top: 70px;
}

#console button:hover{
    scale: 0.9;
    box-shadow: 0 0 0 2px rgba(45,100,230,255);
    background-color:rgba(45,100,230,255);
}

/* sezione pics_console */

#pics_console div[class^="col-"] {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* height: 120px; */
    /* background-color: red; */
    /* border: solid 1px black; */
}

#pics_console img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 40px;
}



/* sezione two */

#two div[class^="col-"] {
    /* height: 500px; */
    /* background-color:rgb(0, 255, 13);
    border: solid 1px black; */
}

#two img{
    width: 200px;
    height: 100px;
    margin-top:50px
}

#two{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    height: 500px;
    background-size: cover;
}

.box_text_two{
    height: 150px;
    width: 300px;
    color: white;
}

/* sezione new */

#new div[class^="col-"] {
    /* width: 150px;
    height: 200px; */
    /* background-color:yellow; */
    /* border: solid 1px black; */
}

#new .container{
    background-color:rgba(31,31,31,255);
    color: white;
}

#new h1{
    margin-top: 40px;
}

#new img{
    width: 140px;
    /* height: 140px; */
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;
}


#new span{
    font-size: 12px;
}
.fa-trademark{
    font-size: 8px;
}

/* sezione explore */

#explore div[class^="col-"] {
    /* height: 400px; */
    /* background-color:rgb(17, 17, 16); */
    /* border: solid 1px black; */
}

#explore img{
    width: 100%;
    height: 45%;
    object-fit: cover;
    margin-top: 10px;
}
#explore_text{
    text-align: center;
    margin-top: 50px;
}

#explore .fa-registered{
    font-size: 10px;
}

/* sezione plus */

#plus div[class^="col-"] {
    height: 300px;
    background-color:rgba(190,188,187,255);
    margin-top: 80px;
    /* border: solid 1px black; */
}

#plus_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plus_text{
    margin-top: 50px;
}

.plus_text img{
    width: 60%;
    height: 40%;
}

.plus_text button{
    border-radius: 20px;
}

@media screen and (min-width:0px) and (max-width:768px)  {  
    #plus_pic {
      display: none;
    }
  }

/* sezione store */

#store div[class^="col-"] {
    /* height: 400px; */
    /* background-color:rgb(255, 81, 0); */
    /* border: solid 1px black; */
    margin-top: 80px;
}

#text_store{
    text-align: center;
}

#store img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

/* sezione now */

#now div[class^="col-"] {
    height: 300px;
    background-color:rgba(22,28,59,255);
    margin-top: 30px;
    /* border: solid 1px black; */
}

#now_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.now_text{
    color: white;
    margin-top: 50px;

}

.now_text img{
    width: 60%;
    height: 40%;
}

.now_text button{
    border:none;
    background-color: rgba(245,245,245,255);
    color: black;
    border-radius: 20px;
}

@media screen and (min-width:0px) and (max-width:768px)  {  
    #now_pic {
      display: none;
    }
  }

/* sezione media */

#media div[class^="col-"] {
    /* width: 100px;
    height: 100px;
    background-color:rgb(0, 17, 255);
    border: solid 1px black; */
    /* margin-top: 50px; */
    margin:50px 0;
}

#media img{
    width: 100%;
    height: 100%;
    padding: 5px;
}

#text_media{
    text-align: center;
}

/* sezione footer */

footer div[class^="col-"] {
    /* height: 170px; */
    /* background-color:rgba(0,67,156,255); */
    /* border: solid 1px black; */
    color: white;
}

footer .container{
    background-color: rgba(0,67,156,255);
}

footer p{
    font-size: 13px;
}

#ps_logo{
    width: 20%;
    height: 50%;
    margin-top: 80px;
}

#world_logo{
    width: 5%;
    
}

#sony_logo{
    width: 150px;
}

#link_{
    margin-top: 80px;
}

li{
    list-style-type: none;
}

ul{
    margin:0;
}

.col{
    font-size: 13px;
} 

.footer_text{
    margin-top:80px;
}

.footer_text p{
    margin-top: 20px;
}
