/* sezione header */

header div[class^="col-"] {
    height: 50px;
    background-color: tan;
    border: solid 1px black;
}

.bg-light{
    background-color: cadetblue;
}

#nav_jumbo{
    color: black;
    background-color: brown;
}

@media screen and (min-width:0px) and (max-width:992px){  
    #form_ li, #btn_, #img_{
      display: none;
    }
  }

#logo_sony{
    background-color: black;
    color: white;
    height: 40px;
}

#logo_sony img{
    width: 10%;
    float: right;
    margin-top: 10px;
}

#form_{
    margin-left: 80px;
}


#btn_{
    color: white;
    background-color: black;
    border-radius: 20px;
    height: 40px;
}

#img_{
    width: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}


/* sezione jumbotron */

#jumbotron div[class^="col-"] {
    height: 400px;
    /* background-color: rgba(44,62,80,255);
    border: solid 1px black; */
}

#jumbotron{
    background-image: url(img/jumbo-bg.png);
    height: 400px;
    background-size: cover;
}

#jumbotron img{
    width: 200px;
    height: 100px;
} 

.box_text{
    width: 250px;
    color: white;
}
.nav-link img{
    width:15px;
}

.box_text button{
    border-radius: 20px;
}


/* sezione pics */

#pics div[class^="col-"] {
    height: 100px;
    /* background-color: green; */
    border: solid 1px black; 
    /* border-radius: 10px; */
}

#pics img{
    width: 130px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;
}

/* sezione playstation */

#playStation div[class^="col-"] {
    /* height: 150px;
    background-color: chocolate;
    border: solid 1px black; */
}

#playStation .row{
    text-align: center;
    margin-top: 30px;
}

#playStation p:first-child{
    color:#0072ce;
}


/* sezione console */

#console div[class^="col-"] {
    /* height: 400px; */
    background-color:white;
    /* border: solid 1px black; */
    margin-bottom: 30px;
}

#console img{
    height: 400px;
    object-fit: cover;
}

.text_console{
    margin-top: 70px;
}




/* sezione pics_console */

#pics_console div[class^="col-"] {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    /* background-color: red; */
    /* border: solid 1px black; */
}

#pics_console img{
    width: 130px;
    height: 90px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 20px;
}

.io{
    
}

/* sezione two */

#two div[class^="col-"] {
    height: 400px;
    background-color:rgb(0, 255, 13);
    border: solid 1px black;
}

#two img{
    width: 200px;
    height: 100px;
}

#two{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    height: 400px;
    background-size: cover;
}

/* sezione new */

#new div[class^="col-"] {
    margin: auto;
    width: 150px;
    height: 140px;
    /* background-color:yellow; */
    /* border: solid 1px black; */
}

#new .container{
    background-color:rgba(31,31,31,255);
    color: white;
}

#new img{
    width: 130px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;
}

/* sezione explore */

#explore div[class^="col-"] {
    /* height: 400px; */
    /* background-color:rgb(17, 17, 16); */
    /* border: solid 1px black; */
}

#explore img{
    width: 100%;
    height: 45%;
    object-fit: cover;
    margin-top: 10px;
}
#explore_text{
    text-align: center;
}
.explore_text{
    /* font-size: 5px; */
}

/* sezione plus */

#plus div[class^="col-"] {
    height: 300px;
    background-color:rgba(190,188,187,255);
    margin-top: 80px;
    /* border: solid 1px black; */
}

#plus_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plus_text{
    color: white;
}

.plus_text img{
    width: 60%;
    height: 40%;
}

.plus_text button{
    border-radius: 20px;
}

@media screen and (min-width:0px) and (max-width:768px)  {  
    #plus_pic {
      display: none;
    }
  }

/* sezione store */

#store div[class^="col-"] {
    /* height: 400px; */
    /* background-color:rgb(255, 81, 0); */
    /* border: solid 1px black; */
    margin-top: 80px;
}

#text_store{
    text-align: center;
}

#store img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

/* sezione now */

#now div[class^="col-"] {
    height: 300px;
    background-color:rgba(22,28,59,255);
    margin-top: 30px;
    /* border: solid 1px black; */
}

#now_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.now_text{
    color: white;
}

.now_text img{
    width: 60%;
    height: 40%;
}

.now_text button{
    border-radius: 20px;
}

@media screen and (min-width:0px) and (max-width:768px)  {  
    #now_pic {
      display: none;
    }
  }

/* sezione media */

#media div[class^="col-"] {
    /* width: 100px;
    height: 100px;
    background-color:rgb(0, 17, 255);
    border: solid 1px black; */
    margin-top: 50px;
}

#media img{
    width: 100%;
    height: 100%;
    padding: 5px;
}

#text_media{
    text-align: center;
}

/* sezione footer */

footer div[class^="col-"] {
    /* height: 250px; */
    background-color:rgba(0,67,156,255);
    /* border: solid 1px black; */
    color: white;
}

#sony_logo{
    width: 20%;
    height: 50%;
}

#ps_logo{
    width: 20%;
    height: 50%;
}

#world_logo{
    width: 5%;
    
}

li{
    
    list-style-type: none;
}
/* #sony_container{
    height: 250px;
    background-color:rgba(0,67,156,255);
} */

